<div id="profile">
	<h2>Shigeru Kuratani's profile</h2>
	<a id="close" href="javascript: void(0)">×</a>
	<div id="photo">
		<img src="./images/img_photo.jpg" width="150" height="150">
		<p class="desc">
			<span class="name">藏谷　滋</span><br>
			<span class="ruby">Kuratani Shigeru</span>
		</p>
		<p>
			デベロッパー@大阪<br>
			仕事後のビールをこよなく愛するエンジニアです<br>
			<!-- Blog：<a href="http://wl.skuratani.net" target="_blank">http://wl.skuratani.net</a><br> -->
			Twitter：<a href="https://twitter.com/shigeru_cw" target="_blank">shigeru_cw</a>
		</p>
	</div>
	<div id="desc">
		<h3>Recent Activities</h3>
		<p>
			大阪でシステム開発の仕事に従事しています。<br>
			コンピュータ技術に関する事柄であれば何でも興味があります。オープンソースを通じて何か多くの人に役立つことができないかと考えています。<br>
			最近、業務が忙しくて勉強会に参加出来ていません。勉強会に参加されている方から良い刺激を受けておりましたので、 また、勉強会に参加していこうと目論んでいます。
		</p>
		<h3>My Qualification</h3>
		<dl>
			<dt>情報処理技術者試験</dt>
			<dd>システムアーキテクト</dd>
			<dd>応用情報技術者</dd>
			<dd>基本情報技術者</dd>
			<dt>Microsoft認定資格</dt>
			<dd>Azure Fundamentals</dd>
			<dt>AWS認定資格</dt>
			<dd>AWS Certified Solutions Architect – Associate</dd>
			<dt>Oracle認定資格</dt>
			<dd>Oracle Certified Java Programmer, Gold SE 11</dd>
			<dd>Oracle Certified Java Programmer, Gold SE 8</dd>
			<dd>Java SE6 Programmer Certified Professional Exam</dd>
			<dd>Oracle Certified Java EE 6 Web Component Developer</dd>
			<dd>ORACLE MASTER Silver DBA 2019</dd>
			<dd>ORACLE MASTER Silver SQL 2019</dd>
			<dd>ORACLE MASTER Bronze 11g</dd>
			<dd>MySQL 5 Developer Certified Professional Exam</dd>
			<dt>CIW認定資格</dt>
			<dd>CIW JavaScript Specialist</dd>
			<dd>CIW Perl Specialist</dd>
			<dt>サーティファイ認定資格</dt>
			<dd>C言語プログラミング能力認定試験1級</dd>
			<dt>Android技術者認定試験</dt>
			<dd>Androidアプリケーション技術者認定試験ベーシック</dd>
		</dl>
	</div>
</div>
