<div id="mailform">
	<h3>確認画面</h3>
	<a id="close" href="javascript: void(0)">×</a>
	<table>
		<col width="150" />
		<col width="350" />
		<tr>
			<th>氏名</span></th>
			<td id="name"></td>
		</tr>
		<tr>
			<th>メールアドレス</span></th>
			<td id="mailaddress"></td>
		</tr>
			<tr><th valign="top">内容</span></th>
			<td><div id="content"></div></textarea>
			</td>
		</tr>
	</table>
	<div id="button">
		<a id="confirmBack" href="javascript: void(0)">戻る</a>
		<a id="send" href="javascript: void(0)">送信</a>
	</div>
</div>