<div id="mailform">
	<h3>入力画面</h3>
	<a id="close" href="javascript: void(0)">×</a>
	<div id="errorMessage"></div>
	<div class="warning">※は必須です</div>
	<table>
		<col width="150" />
		<col width="350" />
		<tr>
			<th>氏名<span class="warning">※</span></th>
			<td><input type="text" id="name" maxlength="50" /></td>
		</tr>
		<tr>
			<th>メールアドレス<span class="warning">※</span></th>
			<td><input type="text" id="mailaddress" maxlength="50" /></td>
		</tr>
			<tr><th valign="top">内容<span class="warning">※</span></th>
			<td><textarea id="content" placeholder="内容を記入ください"></textarea>
			</td>
		</tr>
	</table>
	<div id="button">
		<a id="reset" href="javascript: void(0)">リセット</a>
		<a id="confirm" href="javascript: void(0)">確認</a>
	</div>
</div>